html,
body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #434455;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* header */

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex; /*розміщує в рядок*/
  justify-content: space-between; /*рівномірні відступи між лого, навігацією та адресом*/
  align-items: center; /*розміщує логотип та адресу на тій же висоті, що і навігацію */
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.adress-list {
  display: flex;
  gap: 40px;
  margin: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

/*.header-item:not(:last-child) {
  margin-right: 40px; 
}*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-right: 76px;
}

.header-logo-accent {
  color: #2e2f42;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding: 24px 0; /*розміщує навігацію на висоті 24px, відступ знизу 24px, а по бокам 0 */
  display: block;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.adress-style {
  font-style: normal;
}
.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-item:hover,
.adress-item:focus {
  color: #404bbf;
}

/* body  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* hero section */
.hero {
  background: #2e2f42;
  padding: 188px 0;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.hero-text {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  text-align: center;
}
.hero-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  min-width: 169px;
  height: 56px;
  text-align: center;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* our-advanteges */
.our-advanteges {
  padding: 120px 0 120px 0;
}
.our-advanteges-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.our-advanteges-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.our-advantages-paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-advanteges-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: calc((100% - 72px) / 4);
}
.our-advanteges-title {
  margin-bottom: 8px;
}
.our-advanteges-list {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 24px;
}
/* our-team */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0 120px 0;
  border-radius: 0px 0px 4px 4px;
}
.our-team-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
.our-team-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  align-items: center;
}
.our-team-paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.our-team-list-properties {
  background-color: #ffffff;
  width: calc((100% - 72) / 4);
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-team-list-properties-text {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}
.our-team-list-properties {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Our Portfolio */
.our-portfolio {
  padding: 120px 0 120px 0;
}
.our-portfolio-header {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  /*background-color: #f4f4fd;*/
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-portfolio-paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-portfolio-conten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  row-gap: 48px;
}
.our-portfolio-item {
  display: flex;
  width: calc((100% - 48px) / 3);
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

/*paragraph */
.our-advantages-paragraph,
.our-team-paragraph,
.our-portfolio-paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 16px;
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-slogan {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
}
